.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 60em;
  border: 10px solid green;
  /* padding: 10px; */
}
#board{
  display: inline-block;
  column-count: 20;
  padding-left: 50em;
  padding-right: 50em;
  /* padding-bottom: 5em; */
  column-gap: 0px;
}

.quadradinho{
  width:25px;
  height:25px;
  align-items: center;
  justify-content: center;
  background-color:#ccc;
  border:1px solid darkgreen;
  text-align: center;
}

#placar{
 visibility: hidden;
 border: 2px solid darkgreen;
 padding: 0.5em;
 margin: 2em;
 font-size: 1.5em;
}